app {
	.list-group * {
		overflow: visible;
	}

	.client-selector {
		min-height: 70px;
	}

	.sidebar {
		background: #fff;
		box-shadow: 3px 0 10px #eee;
		overflow-x: hidden;

		display: flex;
	  	flex-direction: column;
		justify-content: flex-start;
		height: 100%;
	}
}